.layout {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.content {
    flex: 1;
    padding: 30px;
    background-color: #f9fbfd;
    overflow-y: auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .content {
        padding: 20px 15px;
    }
}


@media (min-width: 1200px) {
    .content {
        padding: 40px;
    }
}